.action-back {
  color: #000;
  font-size: 1.4rem;
  padding: 14px 10px;
  cursor: pointer;
}

.action-info {
  position: absolute;
  right: 0;
  font-size: 1.6rem;
  top: 0;
  color: #000;
  padding: 10px 21px;
}