@-moz-keyframes slidein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes slidein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

loading {
  display: none;
}

#loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  background-image: url(../images/loader.gif);
  background-size: 50px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 999999;
}